<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="navbar">
  <!-- Navbar para usuarios autenticados (USER u ORGANIZATION) -->
  <th:block sec:authorize="isAuthenticated()" th:replace="~{fragments/navbar-app :: navbar}"></th:block>

  <!-- Navbar para invitados (no autenticados) -->
  <th:block sec:authorize="isAnonymous()" th:replace="~{fragments/navbar-guest :: navbar}"></th:block>
</header>
</body>
</html>
