<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
  <title th:text="${article.title}">Artículo</title>
</head>
<body>
  <main layout:fragment="content">
    <div class="page page--narrow">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <a href="/">Inicio</a>
        <i class="fa-solid fa-chevron-right breadcrumb__sep"></i>
        <a href="/blog">Blog</a>
        <i class="fa-solid fa-chevron-right breadcrumb__sep"></i>
        <span th:text="${article.tag}">Tag</span>
      </nav>

      <article class="blog-article">
        <div class="blog-article__icon">
          <i th:class="${article.icon}"></i>
        </div>
        <div class="blog-article__meta">
          <span class="blog-card__tag" th:text="${article.tag}">Tag</span>
          <span class="blog-card__date" th:text="${article.date}">Fecha</span>
        </div>
        <h1 class="blog-article__title" th:text="${article.title}">Título</h1>
        <div class="blog-article__content" th:utext="${content}"></div>
        <a href="/blog" class="btn btn--outline mt-2">
          <i class="fa-solid fa-arrow-left"></i>
          <span>Volver al blog</span>
        </a>
      </article>
    </div>
  </main>
</body>
</html>
