<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - EcoSolicitud">EcoSolicitud</title>
    <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
</head>
<body class="min-h-screen flex flex-col bg-gray-50">
    
    <!-- User Navbar -->
    <th:block th:replace="~{fragments/navbar-user :: navbar}"></th:block>
    
    <!-- Main Content -->
    <main class="flex-1 flex flex-col">
        <th:block layout:fragment="content"></th:block>
    </main>
    
    <!-- Footer para usuarios autenticados -->
    <div th:replace="~{fragments/auth/auth-user-footer :: authUserFooter}"></div>
    
    <!-- Chat Widget -->
    <div th:replace="~{fragments/faqs/chat-widget :: chatWidget}"></div>
    
    <script>
        lucide.createIcons();
    </script>
</body>
</html>
