<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head><title>404</title></head>
<body>
  <main layout:fragment="content">
    <div class="page page--narrow center">
      <div class="text-center stack">
        <svg class="icon icon--lg"><use href="/images/icons.svg#compass-drafting"/></svg>
        <h1 class="card__title">404</h1>
        <p class="hint mb" data-i18n="error_404_desc">La página que buscás no existe o se movió de lugar.</p>
        <div class="row" style="justify-content:center">
          <a href="/solicitar" class="btn btn--primary">
            <svg class="icon"><use href="/images/icons.svg#paper-plane"/></svg>
            <span data-i18n="error_404_cta_request">Solicitar recolección</span>
          </a>
          <a href="/rastrear" class="btn btn--outline">
            <svg class="icon"><use href="/images/icons.svg#magnifying-glass"/></svg>
            <span data-i18n="error_404_cta_track">Rastrear mi solicitud</span>
          </a>
        </div>
        <a href="/" class="hint" data-i18n="error_404_back">Volver al inicio</a>
      </div>
    </div>
  </main>
</body>
</html>
